body {
    background-image: url("img/fundo.png");
	background-size: 100%;
    font-family: sans-serif;
}

#aumentar {
    border: solid 1px white;
    color: white;
    background-color: #ffffff00;
    padding: 5px;
    font-weight: lighter;
    font-size: 11px;
    float: left; 
    margin-left: 20px;
}

#idioma {
    float: right;
    margin-right: 30px; 
    color: white;
    font-size: 11px;
    text-align: center;  
}

#idioma > #drop {
    display: none;
}

#idioma:hover > #drop {
    background-color: white;
    display: block;
    width: 70px;
    border-radius: 1px;
	text-align: center;
}

#drop > a {
    color: rgb(92, 91, 91);
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
	position: relative;
}

main, footer {
    text-align: center;
}
form {
    background-color: white;
    width: 320px;
    border-radius: 3px;
    margin-top: 50px;
    display: inline-block
}

#logo {
    margin: 60px 40px 0 40px;
}

#input {
    margin:0 40px 0 40px; 
    text-align: left;
}

input {
    height: 35px;
    width: 240px;
    border: solid 1px #d7d7c1;
    border-radius: 3px;
	padding: 0 10px 0 10px;
}

input:focus {
	border: solid 1px #ff3333;
	box-shadow: 3px 3px 5px #ffb3b3, -3px -3px 5px #ffb3b3;
	outline: 0;
	border-radius: 3px;
}

#senha::placeholder {
	color: transparent;
	text-align: right;
	padding: 10px;
}

#senha:focus::placeholder {
	background: url("img/placeholder.png");
	background-size: 7%;
	background-repeat: no-repeat;
	background-position: right center;
}

label {
    display: inline-block;
    margin: 30px 0 10px 0;
    color:rgb(91, 84, 84);
    font-weight:bold;
    font-size: 14px;
}

#entrar {
    background-color: rgb(250, 96, 40);
    color: white;
    border: rgb(250, 96, 40);
    border-radius: 3px;
    font-weight: bold;
    height: 35px;
    width: 260px;
    margin-top: 50px;
}

#esqueci {
    display: inline-block;
    margin: 40px 0 30px 0;
    font-size: 12px;
}

#linkSite {
    display: inline-block;
    margin-top: 20px;
    color: white;
    font-size: 11px;
    font-weight: lighter;
}
