body {
    background-image: url("img/fundo.png");
    font-family: sans-serif;
}

#aumentar {
    border: solid 1px white;
    color: white;
    background-color: #ffffff00;
    padding: 5px;
    font-weight: lighter;
    font-size: 11px;
    float: left; 
    margin-left: 30px;
}

#idioma {
    float: right;
    margin-right: 30px; 
    color: white;
    font-size: 11px;
    text-align: center;
    
}

#idioma:hover #drop{
    display: block;
}

#drop {
    background-color: white;
    display: none;
    width: 90px;
    border-radius: 1px;
}

#drop a {
    color: rgb(92, 91, 91);
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    margin-right: 30px;
    margin-left: 20px;
}

main {
    text-align: center;
}

form {
    background-color: white;
    width: 350px;
    border-radius: 3px;
    margin-top: 70px;
    display: inline-block
}

#logo {
    margin: 60px 40px 0 40px;
}

#input {
    margin:0 40px 0 40px; 
    text-align: left;
}

input {
    height: 35px;
    width: 260px;
    border: solid 1px #d7d7c1;
    border-radius: 3px;
    
}

label {
    display: inline-block;
    margin: 30px 0 10px 0;
    color:rgb(91, 84, 84);
    font-weight:bold;
    font-size: 14px;
}

#entrar {
    background-color: rgb(250, 96, 40);
    color: white;
    border: rgb(250, 96, 40);
    border-radius: 3px;
    font-weight: bold;
    height: 35px;
    width: 260px;
    margin-top: 50px;
}

#esqueci {
    display: inline-block;
    margin: 40px 0 30px 0;
    font-size: 12px;
}

#treetech {
    display: inline-block;
    margin-top: 40px;
    color: white;
    font-size: 12px;
    font-weight: lighter;
}

footer {
    text-align: center;
}
